/* @font-face {
	font-family:'SF Pro SC';
	font-style:normal;
	font-weight:300;
	src:local('â˜º'), url("/fonts/SF-Pro-SC/v1/PingFangSC-Light.woff2") format("woff2"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Light.woff") format("woff"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Light.ttf") format("truetype");

}

@font-face {
	font-family:'SF Pro SC 300';
	src:url('/fonts/SF-Pro-SC/v1/PingFangSC-Light.eot');

}

@font-face {
	font-family:'SF Pro SC';
	font-style:normal;
	font-weight:500;
	src:local('â˜º'), url("/fonts/SF-Pro-SC/v1/PingFangSC-Medium.woff2") format("woff2"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Medium.woff") format("woff"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Medium.ttf") format("truetype");

}

@font-face {
	font-family:'SF Pro SC 500';
	src:url('/fonts/SF-Pro-SC/v1/PingFangSC-Medium.eot');

}

@font-face {
	font-family:'SF Pro SC';
	font-style:normal;
	font-weight:600;
	src:local('â˜º'),  url("/fonts/SF-Pro-SC/v1/PingFangSC-Semibold.woff") format("woff"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Semibold.ttf") format("truetype");

}

@font-face {
	font-family:'SF Pro SC 600';
	src:url('/fonts/SF-Pro-SC/v1/PingFangSC-Semibold.eot');

}

@font-face {
	font-family:'SF Pro SC';
	font-style:normal;
	font-weight:400;
	src:url('/fonts/SF-Pro-SC/v1/PingFangSC-Regular.eot');
	src:local('â˜º'), url("/fonts/SF-Pro-SC/v1/PingFangSC-Regular.woff2") format("woff2"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Regular.woff") format("woff"), url("/fonts/SF-Pro-SC/v1/PingFangSC-Regular.ttf") format("truetype");

}
 */

/* @font-face {
	font-family: 'Noto Sans CJK SC';
	font-style: normal;
	font-weight: 300;
	src: local('â˜º'), url("/fonts/Noto_Sans_SC/NotoSansSC-Light.otf") format("OpenType");

}



@font-face {
	font-family: 'Noto Sans CJK SC';
	font-style: normal;
	font-weight: 500;
	src: local('â˜º'), url("/fonts/Noto_Sans_SC/NotoSansSC-Medium.otf") format("OpenType");

}

@font-face {
	font-family: 'Noto Sans CJK SC';
	font-style: normal;
	font-weight: 600;
	src: local('â˜º'), url("/fonts/Noto_Sans_SC/NotoSansSC-Bold.otf") format("OpenType");

}

@font-face {
	font-family: 'Noto Sans CJK SC';
	font-style: normal;
	font-weight: 400;
	src: local('â˜º'), url("/fonts/Noto_Sans_SC/NotoSansSC-Regular.otf") format("OpenType");
} */